.certificates-section {
    padding: 50px;
    background-color: #191919;
    text-align: center;
    min-height: 100vh;
    animation: slideDown 5s forwards;
  }
  
  .section-title {
    font-size: 2rem;
    color: #e91e63;
    margin-bottom: 40px;
  }

  .certificates-text {
    font-size: 10rem;
    color: #e91e63;
    opacity: 0;
    animation: slideDown 2s forwards;
  }
  
  
  .certificates-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-bottom: 50px;;
  }
  
  .certificate-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .certificate-image {
    width: 100%;
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
  
  .certificate-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .certificate-title {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  }
  
  .certificate-item:hover .certificate-image {
    transform: scale(1.1);
  }
  
  .certificate-item:hover .certificate-overlay {
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .certificates-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 480px) {
    .certificates-grid {
      grid-template-columns: 1fr;
    }
  }
  